{% extends "base.html" %} {% block content %}
<main class="main-home">
    <div class="main">
        <h1> Welcome </h1>
        <div class="home-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus at nobis, mollitia incidunt enim qui totam, facilis laborum labore, dolore eos architecto quidem! Consequuntur quia inventore veritatis, quisquam voluptatem expedita! Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Eligendi omnis fugiat exercitationem nam ratione adipisci facere, deleniti maiores in totam assumenda iure eaque vitae excepturi, optio incidunt maxime fuga expedita. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Enim, totam. Labore perferendis tempore inventore perspiciatis exercitationem a voluptates. Veritatis dolore atque voluptas aliquam itaque animi sed maiores eaque magnam recusandae. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Amet molestias veritatis veniam consectetur beatae, ad consequuntur reprehenderit doloremque iure temporibus provident quam quod quis esse quaerat laudantium consequatur repellat officiis?
        </div>
        <div class="home-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid eum expedita labore velit in! Hic consequatur dignissimos voluptate quam saepe! Ipsa nesciunt deserunt consequuntur hic eos, dolore molestias eius dignissimos? Lorem ipsum dolor
            sit, amet consectetur adipisicing elit. Minus consectetur repellendus quaerat quod illum odio, tempora sapiente excepturi ipsam amet, reprehenderit inventore repudiandae atque laboriosam culpa soluta modi, accusantium quidem! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Obcaecati dolorum totam, facilis perferendis nobis facere? Provident aliquam optio neque assumenda odit beatae ut ipsam! Veritatis dicta eligendi deleniti totam sit.
        </div>
        <div class="home-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolore voluptate, suscipit delectus deleniti ab, quasi voluptatem quas sunt, distinctio dolor aut minus eius dolorum aspernatur pariatur corrupti dolorem voluptates?</div>
</main>
</div>

</main>

{% endblock %}