{% include "base.html" %} {% block content %}
<div class="main-service">
    <div class="service"><img src="https://picsum.photos/id/101/200/200" />

    </div>
    <div class="service"><img src="https://picsum.photos/id/102/200/200" />

    </div>
    <div class="service"><img src="https://picsum.photos/id/103/200/200" />

    </div>
    <div class="service"><img src="https://picsum.photos/id/104/200/200" />

    </div>
    <div class="service"><img src="https://picsum.photos/id/162/200/200" />

    </div>
    <div class="service"><img src="https://picsum.photos/id/106/200/200" />

    </div>
</div>

<div class="main-service">
    <div class="service"><img src="https://picsum.photos/id/107/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/108/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/109/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/111/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/112/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/113/200/200" /></div>
</div>

<div class="main-service">
    <div class="service"><img src="https://picsum.photos/id/114/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/115/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/121/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/131/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/141/200/200" /></div>
    <div class="service"><img src="https://picsum.photos/id/151/200/200" /></div>
</div>
{% endblock %}